
#root{
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-size: 1.2em;
    opacity: .9;
}
header.sticky{
    background-color: #058ED9;
}
nav{
    width: clamp(70%,900px,95%);
    padding: .25em;
    display: flex;
    justify-content: space-between;
    color: #FFFFFA;
}
.name{
    flex: .75 ;
    display: flex;
    align-items: center;
    gap: .25em;
    font-size: 1.5em;
}
.about-project{
    flex: 1.5;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em;
    transition: 0.3s;
    color: white;
    gap: .25em;
}
ul{
    list-style-type: none;
    display: flex;
}

li::before {
    content: '';
    position: absolute;
    width: 0; /* Initially, set the width to 0 */
    height: 4px; /* Adjust the height and color as needed */
    background-color: #EFDD8D;
    bottom: 0;
    left: 0; /* Start from the left */
    transition: width 0.3s; /* Add a transition for smooth animation */
  }
li:hover::before{
    width: 100%;
}

.drop-down{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    display: none;
}
.hoverable-element{
    display: flex;
    flex: 1;
}

@media screen and (max-width: 1050px){
    .about-project{
        display: none;
    }
    .drop-down{
        position: fixed;
        display: none;
        top: 0;
        background-color: black;
        color: white;
        z-index: 100;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }
    header{
        font-size: 1.5em;
    }
    .hoverable-element{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }
    .project-page, .skills-page, .about {
        padding: 0em;

    }
    .title-page{
        font-size: .8em;
    }

.progress-bar {
    position: fixed;
    top: 10;
    left: 0;
    right: 0;
    height: 1000px;
    background-color: white;
    transform-origin: 0%;
    z-index: 5000;
  }
  
}