.project-page{
    width: 100%;
    background-color:rgb(10,34,50);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
}
.project-center{
    width: clamp(300px, 100%, 1200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;

}
.project-card{
    height: 30em;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}
.project-image{
    flex: 1;
    border-radius: 1em 1em 0 0;
    
}
.project-info{
    background-color: rgb(20,22,23);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 2em;
    flex: 1;
    border-radius: 0 0 1em 1em;

}
.project-card-description, .project-card-make{
    color: rgb(170,170,170);
    font-size: 1.3em;
    text-align: center;
}
.project-card-make{
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo, .live-code{
    background-color: #F06543;;
    color: white;
    border: none;
    border-radius: .7em;
    padding: .5em;
    font-size: 1.1em;
    width: 6em;
}